<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OAuth2 Line Notify</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @*<nav class="navbar navbar-inverse">
           <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href="#">WebSiteName</a>
               </div>
               <ul class="nav navbar-nav">
                   <li class="active"><a href="#">Home</a></li>
                   <li class="dropdown">
                       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                           <li><a href="#">Page 1-1</a></li>
                           <li><a href="#">Page 1-2</a></li>
                           <li><a href="#">Page 1-3</a></li>
                       </ul>
                   </li>
                   <li><a href="#">Page 2</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
               </ul>
           </div>
           <div class="container">
               @RenderBody()
           </div>
        </nav>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OAuth2 Line Notify", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("登入", "LineLoginDirect", "Home")</li>
                    <li>@Html.ActionLink("取得", "LineUserProfile", "Home")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OAuth2 Line Notify</p>
        </footer>
    </div>
   
</body>
</html>

